<div layout='row' flex layout-align='center center' ng-controller='ClientController as ctr'>

    <div flex='80' layout-align='center center' class="md-list">
        <div flex ng-show="ctr.list">
            <md-toolbar flex>
                <div class="md-toolbar-tools">
                    <h2 flex md-truncate>Clientes</h2>
                    <div>
                        <md-button ng-show="ctr.list" layout-align="center end"
                                   class="md-primary tool-bar md-fab" aria-label="Comment" ng-click="ctr.newOrEdit()">
                            <md-icon md-svg-src="/images/icons/new.svg"
                                     style=" height: 40px; width: 40px"
                                     aria-label="edit"></md-icon>
                        </md-button>

                    </div>
                </div>
            </md-toolbar>
            <div flex>
                <md-progress-linear class="md-warn" ng-show='ctr.loading' md-mode="indeterminate"></md-progress-linear>
            </div>
            <ng-include src="'./partials/generic/filter.html'" ></ng-include>




            <!-- Listado -->
            <md-list class="md-dense" flex>

                <md-list-item class="list-item" ng-repeat="item in models| filter:searchTextModel"
                              ng-click="ctr.newOrEdit(item)">

                    <div flex class="md-list-item-text" layout="column">
                        <p><strong> {{ item.line}}{{ item.codeNumber}}</strong></p>
                    </div>
                    <div flex class="md-list-item-text" layout="column">
                        <p><strong> {{ item.name }}, {{ item.lastName }}</strong></p>
                    </div>
                    <div flex class="md-list-item-text" layout="column">
                        <p><strong> {{ item.dni}}</strong></p>
                    </div>
                    <div flex class="md-list-item-text" layout="row" layout-align="end end">
                        <md-button class="md-fab md-mini md-primary md-hue-1" ng-click="ctr.delete(item)">
                            <md-icon md-svg-src="/images/icons/delete.svg" aria-label="edit"></md-icon>
                        </md-button>
                    </div>

                </md-list-item>

                <div layout="column" layout-align="center center" ng-show="models.length==0 && !ctr.loading">
                    No se encuentran registros
                </div>

            </md-list>


        </div>
        <!-- Edicion -->
        <div flex ng-style="{'visibility': !ctr.list && !ctr.detail ? 'visible':'hidden'}">
            <md-toolbar flex>
                <div class="md-toolbar-tools">
                    <h2 flex md-truncate>Cliente {{selected.name}} {{selected.lastName}}</h2>
                </div>
            </md-toolbar>

            <md-content layout-padding>
                <div>
                    <form name="form_model" novalidate ng-submit="form_model.$valid &&  ctr.save()">

                        <div layout-gt-xs="row" flex>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Nombre</label>
                                    <input ng-model="selected.name" name="name" required="">
                                    <div ng-messages="form_model.name.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Apellido</label>
                                    <input ng-model="selected.lastName" name="lastName" required="">
                                    <div ng-messages="form_model.lastName.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <div layout-gt-xs="row" flex>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>DNI</label>
                                    <input ng-model="selected.dni" name="dni" required="">
                                    <div ng-messages="form_model.dni.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Fecha Nacimineto</label>
                                    <md-datepicker md-current-view="year" ng-model="selected.birthday" md-mode="month"
                                    ></md-datepicker>
                                </md-input-container>
                            </div>
                        </div>
                        <div layout-gt-xs="row" flex>
                            <div layout-gt-xs="column" flex="50">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Email</label>
                                    <input ng-model="selected.email" name="email" required="">
                                    <div ng-messages="form_model.email.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                        <div layout-gt-xs="row" flex>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Recomendado Por</label>
                                    <md-autocomplete
                                            md-no-cache="true"
                                            md-selected-item="selected.parentBase"
                                            md-search-text="searchClient"
                                            md-items="item in ctr.clientSearch(searchClient)"
                                            md-item-text="item.name+' '+item.lastName"
                                            md-min-length="0"
                                            name="parent"
                                            md-selected-item-change="ctr.updateLine(selected.parentBase.line)"
                                            required
                                    >
                                        <md-item-template>
                                    <span md-highlight-text="searchClient"
                              md-highlight-flags="^i">{{item.name}} {{item.lastName}} {{item.dni}} {{item.line}}{{item.codeNumber}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No states matching "{{searchClient}}" were found.
                                        </md-not-found>
                                    </md-autocomplete>

                                    <!--md-select ng-model="selected.parentBase" name="parent" required
                                               ng-change="ctr.updateLine(selected.parentBase.line)">
                                        <md-option ng-selected="selected.parent[selected.parent.length-1]==type._id"
                                                   ng-value="type" ng-repeat="type in clientList">{{type.name}}
                                            {{type.lastName}}
                                        </md-option>
                                    </md-select-->
                                    <div ng-messages="form_model.parent.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <div layout-gt-xs="row" flex>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Linea</label>
                                    <md-select
                                            ng-model="selected.line" ng-change="ctr.getLineNumber(selected.line)">

                                        <md-option ng-value="item" ng-repeat=" item in ['A','B','C','D','E','F','G','H','I','J','K','M','N',
									  'Ñ','L','O','P','Q','R','S','T','U','V','W','X','Y','Z'] ">
                                            {{item}}

                                        </md-option>

                                    </md-select>
                                    <div ng-messages="form_model.dni.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Numero</label>
                                    <input ng-model="selected.codeNumber" name="codeNumber" required="" readonly>
                                    <div ng-messages="form_model.codeNumber.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <div layout-gt-xs="row" flex>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Provincia</label>
                                    <input ng-model="selected.province" name="province" required="">
                                    <div ng-messages="form_model.province.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Ciudad</label>
                                    <input ng-model="selected.city" name="city" required="">
                                    <div ng-messages="form_model.city.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <div layout-gt-xs="row" flex>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Calle</label>
                                    <input ng-model="selected.street" name="street" required="">
                                    <div ng-messages="form_model.street.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Altura</label>
                                    <input ng-model="selected.number" name="number" type="number" required="">
                                    <div ng-messages="form_model.number.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <div layout-gt-xs="row" flex>
                            <div layout-gt-xs="column" flex>
                                <div map-lazy-load="https://maps.google.com/maps/api/js">
                                    <ng-map zoom='11' zoom-to-include-markers="true"
                                            center="{{selected.street +' '+selected.number+' '+selected.city+' '+selected.province}}">
                                        <marker position="{{selected.street +' '+selected.number+' '+selected.city+' '+selected.province}}"
                                                title="You are here"
                                                animation="Animation.BOUNCE"
                                                centered="true"></marker>

                                    </ng-map>
                                </div>
                            </div>
                        </div>

                        <div layout-gt-xs="row" flex>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Comuna</label>
                                    <input ng-model="selected.comuna" name="comuna">
                                    <div ng-messages="form_model.comuna.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Codigo Postal</label>
                                    <input ng-model="selected.zip" name="zip">
                                    <div ng-messages="form_model.zip.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <div layout-gt-xs="row" flex>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Telefono</label>
                                    <input ng-model="selected.phone" name="phone">
                                    <div ng-messages="form_model.phone.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Celular</label>
                                    <input ng-model="selected.cell" name="cell">
                                    <div ng-messages="form_model.cell.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <div layout-gt-xs="row" flex="'50'">
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Puntos</label>
                                    <input ng-model="selected.calculatedPoints" name="calculatedPoints">

                                </md-input-container>
                            </div>
                        </div>


                        <md-button ng-show="!ctr.list" layout-align="center end"
                                   class="md-fab md-mini" aria-label="Comment" type="submit"
                                   ng-click="ctr.test(form_model)">
                            <md-icon md-svg-src="images/icons/
		ok-like-hand-sign.svg"></md-icon>
                        </md-button>
                        <md-button ng-show="!ctr.list" layout-align="center end"
                                   class="md-fab md-mini" aria-label="Comment" ng-click="ctr.cancelNewOrEdit()">
                            <md-icon md-svg-src="images/icons/previous.svg"></md-icon>
                        </md-button>
                    </form>
                </div>
            </md-content>

        </div>


        <!-- Detalle -->


    </div>


</div>