<div ng-controller="ClientDataController as ctr"  layout='row' flex layout-align='center center'>

<div layout-gt-xs="column" flex="90">

        <div layout-gt-xs="row" flex >
            <div layout-gt-xs="column" flex="30">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Tipo de Informaci&oacute;n</label>
                    <md-select ng-model="template" ng-change="ctr.templateChange(template.id)">

                        <md-option ng-value="t" ng-repeat="t in templates"> {{t.name}}</md-option>

                    </md-select>
                </md-input-container>
            </div>
        </div>


        <div class="slide-animate-container" >
            <div class="slide-animate" ng-include="template.url"></div>
        </div>
    </div>
</div>