<div layout-gt-xs="column" flex>

    <div layout-gt-xs="row" flex>
        <md-input-container class="md-block" flex-gt-xs>
            <label>MES</label>
            <div layout-gt-xs="column" flex="30">
                <md-select ng-model="month" ng-change="ctr.getClientBirthday(month.value)">

                    <md-option ng-value="t" ng-repeat="t in months"> {{t.name}}</md-option>

                </md-select>
            </div>
        </md-input-container>
    </div>


    <md-list class="md-dense" flex>

        <md-list-item class="list-item" ng-repeat="item in clients| filter:searchTextModel">

            <div flex class="md-list-item-text" layout="column">
                <p><strong> {{ item.line}}{{ item.codeNumber}}</strong></p>
            </div>
            <div flex class="md-list-item-text" layout="column">
                <p><strong> {{ item.name }}, {{ item.lastName }}</strong></p>
            </div>
            <div flex class="md-list-item-text" layout="column">
                <p><strong> {{ item.dni}}</strong></p>
            </div>
            <div flex class="md-list-item-text" layout="column">
                <p><strong> {{ item.birthday | date :'yyyyMMdd'}}</strong></p>
            </div>
            <div flex class="md-list-item-text" layout="row" layout-align="end end">
                <md-button class="md-fab md-mini md-primary md-hue-1" ng-click="ctr.delete(item)">
                    <md-icon md-svg-src="/images/icons/delete.svg" aria-label="edit"></md-icon>
                </md-button>
            </div>

        </md-list-item>

        <div layout="column" layout-align="center center" ng-show="clients.length==0 && !ctr.loading">
            No se encuentran registros
        </div>

    </md-list>

</div>
