<div layout-gt-xs="column" flex>

    <div layout-gt-xs="row" flex>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Agrupar por</label>
            <div layout-gt-xs="column" flex="30">
                <md-select ng-model="period" ng-change="ctr.getClientLast(period, dateFrom, dateTo)">

                    <md-option ng-value="t" ng-repeat="t in ['a&ntilde;o', 'mes','dia']"> {{t}}</md-option>

                </md-select>
            </div>
        </md-input-container>

        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>

                <label>Fecha Desde</label>
                <md-datepicker  md-current-view="year" ng-model="dateFrom" md-mode="month"
                                ng-change="ctr.getClientLast(period, dateFrom, dateTo)"></md-datepicker>
            </md-input-container>
        </div>
        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>

                <label>Fecha Hasta</label>
                <md-datepicker  md-current-view="year" ng-model="dateTo" md-mode="month"
                                ng-change="ctr.getClientLast(period, dateFrom, dateTo)"></md-datepicker>
            </md-input-container>
        </div>
    </div>
    <div flex layout-gt-xs="row">
        <div id="chart"></div>
    </div>
</div>