<div ng-controller="ClientOrderInformationController as ctr" style="width: 100%;height: 100%">


    <div layout-gt-xs="row" flex>
        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>

                <label>Cliente</label>
                <md-autocomplete
                        md-selected-item="client"
                        md-search-text="searchClient"
                        md-items="item in ctr.clientSearch(searchClient)"
                        md-item-text="item.name+' '+item.lastName"
                        md-min-length="0"
                        md-selected-item-change="ctr.getChilds(client._id, date)"
                >
                    <md-item-template>
                        <span md-highlight-text="searchClient"
                              md-highlight-flags="^i">{{item.name}} {{item.lastName}}</span>
                    </md-item-template>
                    <md-not-found>
                        No states matching "{{searchClient}}" were found.
                    </md-not-found>
                </md-autocomplete>
                <div ng-messages="form.phone.$error">
                    <div ng-message="required">Este campo es requerido.</div>
                </div>
            </md-input-container>
        </div>
        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>

                <label>Fecha Desde</label>
                <md-datepicker md-current-view="year" ng-model="date" md-mode="month"
                               ng-change="ctr.getChilds(client._id, date)"></md-datepicker>
            </md-input-container>
        </div>
        <div layout-gt-xs="column" flex>
            <md-button class="md-primary md-raised" ng-click="ctr.pdfView=!ctr.pdfView">
                <label ng-show="ctr.pdfView">Preparar Para PDF</label>
                <label ng-show="!ctr.pdfView">Listado normal</label>
            </md-button>
        </div>
        <div layout-gt-xs="column" ng-show="ctr.pdfView" flex>
            <md-input-container class="md-block" flex-gt-xs>
                <button class="md-primary md-raised" pdf-save-button="list" pdf-name="listado_clientes_hijos.pdf">PDF</button>
            </md-input-container>
        </div>
    </div>
    <div pdf-save-content="list" flex>
        <md-list class="md-dense" flex>

            <md-list-item class="list-item md-2-line" ng-repeat="item in childs | filter:searchTextModel"
                          ng-click="showDetail=!showDetail">
                <div class="md-list-item-text" layout="column">
                    <div>
                        <div flex class="md-list-item-text" layout="column">
                            <p><strong> {{ item.client.name}} {{ item.client.lastName}} {{ item.client.line}}{{
                                item.client.codeNumber}}</strong></p>
                        </div>
                    </div>

                    <md-list class="md-dense" flex ng-show="showDetail || ctr.pdfView">
                        <md-list-item class="list-item md-2-line" ng-repeat="order in item.orders"
                                      ng-click="showDetailProduct=!showDetailProduct">
                            <div class="md-list-item-text" layout="column">
                                <div flex layout="row">
                                    <div flex class="md-list-item-text" layout="column">
                                        <p><strong> #Pedido:{{order.number}}</strong></p>
                                    </div>
                                    <div flex class="md-list-item-text" layout="column">
                                        <p><strong> Fecha:{{ order.date | date : 'dd/MM/yyyy'}}</strong></p>
                                    </div>
                                    <div flex class="md-list-item-text" layout="column">
                                        <p><strong> Monto:{{ order.totalToPaid}} </strong></p>
                                    </div>
                                </div>
                                <md-list class="md-dense" flex ng-show="showDetailProduct || ctr.pdfView">
                                    <md-list-item class=" md-2-line" ng-repeat="product in order.products">
                                        <div flex class="md-list-item-text" layout="column">
                                            <p><strong>Marca:{{product.product.brand.name}}
                                                Producto:{{product.product.name}}</strong></p>
                                        </div>
                                        <div flex class="md-list-item-text" layout="column">
                                            <p><strong> Precio:{{ product.sellPrice}}</strong></p>
                                        </div>
                                        <div flex class="md-list-item-text" layout="column">
                                            <p><strong> Cantidad:{{ product.cant}} </strong></p>
                                        </div>
                                        <div flex class="md-list-item-text" layout="column">
                                            <p><strong> Total:{{ product.cant * product.sellPrice }} </strong></p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </div>
                    </md-list>
                </div>
            </md-list-item>
        </md-list>
    </div>

</div>