<div layout="row" flex="95" layout-align="center center">

    <div layout="col" flex>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Pagina</label>
            <div layout-gt-xs="column" flex="30">
                <md-select ng-model="pageSize" ng-change="ctr.loadData(1, pageSize, searchTextModel)">
                    <md-option ng-value="t" ng-repeat="t in [5,10,25,50,100]"> {{t}}</md-option>
                </md-select>
            </div>
        </md-input-container>
    </div>

    <div  layout="col" layout-align="end center" ng-repeat="pageIterator in pagesDisp">

        <md-button class="md-raised" ng-class="{'md-primary':(pageIterator)==currentPage}" style="min-width: 1px;min-height: 1px;margin: 2px;"
                   ng-click="ctr.loadData(pageIterator, pageSize, searchTextModel)">
            {{pageIterator}}
        </md-button>


    </div>

</div>
<div class="subheader search">
    <label>
        <md-icon md-svg-src="/images/icons/search.svg"
                 class="icon-search"
                 aria-label="edit"></md-icon>
        <input ng-model="searchTextModel" ng-change="ctr.loadData(pageIterator, pageSize, searchTextModel)"></label>
</div>