<div layout='row' flex layout-align='center center' ng-controller='ProductController as ctr'>

    <div flex='80' layout-align='center center' class="md-list">
        <div flex ng-show="ctr.list">
            <md-toolbar flex>
                <div class="md-toolbar-tools">
                    <h2 flex md-truncate>Producto</h2>
                    <div>
                        <md-button ng-show="ctr.list" layout-align="center end"
                                   class="md-primary tool-bar md-fab" aria-label="Comment" ng-click="ctr.newOrEdit()">
                            <md-icon md-svg-src="/images/icons/new.svg"
                                     style=" height: 40px; width: 40px"
                                     aria-label="edit"></md-icon>
                        </md-button>

                    </div>
                </div>
            </md-toolbar>
            <div flex>
                <md-progress-linear class="md-warn" ng-show='ctr.loading' md-mode="indeterminate"></md-progress-linear>
            </div>

            <ng-include src="'./partials/generic/filter.html'" ></ng-include>


            <!-- Listado -->
            <md-list class="md-dense" flex>

                <md-list-item class="list-item" ng-repeat="item in models| filter:searchTextModel"
                              ng-click="ctr.newOrEdit(item)">

                    <div flex class="md-list-item-text" layout="column">
                        <p><strong> {{ item.name }}</strong><small{{ item.category }}</p></p>
                    </div>
                    <div flex class="md-list-item-text" layout="column">
                         <p><strong> {{ item.brand.name }}</strong></p>

                    </div>
                    <div flex class="md-list-item-text" layout="row" layout-align="end end">
                        <md-button class="md-fab md-mini md-primary md-hue-1" ng-click="ctr.delete(item)">
                            <md-icon md-svg-src="/images/icons/delete.svg" aria-label="edit"></md-icon>
                        </md-button>
                    </div>

                </md-list-item>

                <div layout="column" layout-align="center center" ng-show="models.length==0 && !ctr.loading">
                    No se encuentran registros
                </div>

            </md-list>


        </div>

        <!-- Edicion -->
        <div flex ng-show="!ctr.list && !ctr.detail">
            <md-toolbar flex>
                <div class="md-toolbar-tools">
                    <h2 flex md-truncate>Producto {{selected.name}}</h2>
                </div>
            </md-toolbar>

            <md-content layout-padding>
                <div>
                    <form name="form_model" novalidate ng-submit="form_model.$valid &&  ctr.save()">
                        <div layout-gt-xs="row" flex>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Nombre</label>
                                    <input ng-model="selected.name" name="name" required="">
                                    <div ng-messages="form_model.name.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Marca</label>
                                    <md-select ng-model="selected.brand" name="brand" required>
                                        <md-option ng-selected="selected.brand._id==type._id" ng-value="type"
                                                   ng-repeat="type in brandList">{{type.name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="form.brand.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>


                        </div>

                        <div layout-gt-xs="row" flex>
                            <div layout-gt-xs="column" flex>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Codigo</label>
                                    <input ng-model="selected.code" name="code" required="">
                                    <div ng-messages="form.code.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Rubro</label>
                                    <input ng-model="selected.category" name="category" required=""
                                           style="text-transform:uppercase">
                                    <div ng-messages="form.category.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Descripcion</label>
                                    <input ng-model="selected.description" name="description">
                                </md-input-container>
                            </div>

                        </div>


                        <md-button ng-show="!ctr.list" layout-align="center end"
                                   class="md-fab md-mini" aria-label="Comment" type="submit"
                                   ng-click="ctr.test(form_model)">
                            <md-icon md-svg-src="images/icons/
		ok-like-hand-sign.svg"></md-icon>
                        </md-button>
                        <md-button ng-show="!ctr.list" layout-align="center end"
                                   class="md-fab md-mini" aria-label="Comment" ng-click="ctr.cancelNewOrEdit()">
                            <md-icon md-svg-src="images/icons/previous.svg"></md-icon>
                        </md-button>
                    </form>
                </div>
            </md-content>

        </div>


        <!-- Detalle -->


    </div>


</div>