<!DOCTYPE html>
<html>
<head>

    <title>Meva</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="javascripts/angular-material/angular-material.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="javascripts/charts/c3.css">
</head>
    <body ng-app="demoApp">

    <style>
        #cy {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;

        }
    </style>

     <script src="https://maps.google.com/maps/api/js"></script>

    <script src="javascripts/charts/c3.js"></script>
    <script src="javascripts/charts/d3.js"></script>

    <script src="javascripts/cytoscape.min.js"></script>
    <script src="javascripts/cola.js"></script>
    <script src="javascripts/cytoscape-cola.js"></script>

    <script src="javascripts/jquery/dist/jquery.js"></script> 
    
    <script src="javascripts/angular/angular.js"></script>

    <script src="javascripts/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="javascripts/html2canvas.js"></script>
    <script src="javascripts/jspdf.min.js"></script>
    <script src="javascripts/saveHtmlToPdf.min.js"></script>



    <script src="javascripts/angular-resource/angular-resource.js"></script>
    <script src="javascripts/angular-ui-router/angular-ui-router.js"></script> 
    <script src="javascripts/angular-aria/angular-aria.js"></script> 
    <script src="javascripts/angular-animate/angular-animate.js"></script> 
    <script src="javascripts/angular-material/angular-material.js"></script>
    <script src="javascripts/angular-messages/angular-messages.js"></script> 
    <script src="/javascripts/app/app.js" type="text/javascript"></script>    
    <script src="/javascripts/app/routes.js" type="text/javascript"></script>        
    <script src="/javascripts/app/conf.js" type="text/javascript"></script>        
    <script src="/javascripts/app/controllers/homeController.js" type="text/javascript"></script>
    
    <!-- services -->
    <script src="/javascripts/app/service/errorService.js" type="text/javascript"></script>

    <!-- Controllers-->
     <script src="/javascripts/app/controllers/baseModelController.js" type="text/javascript"></script>
     <script src="/javascripts/app/controllers/manage/brandController.js" type="text/javascript"></script>
     <script src="/javascripts/app/controllers/manage/productController.js" type="text/javascript"></script>
    <script src="/javascripts/app/controllers/manage/stockController.js" type="text/javascript"></script>
    <script src="/javascripts/app/controllers/manage/stockUpdateController.js" type="text/javascript"></script>
     <script src="/javascripts/app/controllers/manage/clientController.js" type="text/javascript"></script>
    <script src="/javascripts/app/controllers/graph/graphPointController.js" type="text/javascript"></script>
    <script src="/javascripts/app/controllers/graph/graphPointAtController.js" type="text/javascript"></script>
    <script src="/javascripts/app/controllers/order/newOrderController.js" type="text/javascript"></script>
    <script src="/javascripts/app/controllers/order/orderController.js" type="text/javascript"></script>
    <script src="/javascripts/app/controllers/information/productSellInfomrationController.js" type="text/javascript"></script>
    <script src="/javascripts/app/controllers/information/pointInformationController.js" type="text/javascript"></script>
    <script src="/javascripts/app/controllers/information/clientOrderInformation.js" type="text/javascript"></script>
    <script src="/javascripts/app/controllers/information/clientDataController.js" type="text/javascript"></script>

     <!-- Models -->
    
    <script src="/javascripts/app/resources/manage/brandResource.js" type="text/javascript"></script>
    <script src="/javascripts/app/resources/manage/productResource.js" type="text/javascript"></script>
    <script src="/javascripts/app/resources/manage/stockResource.js" type="text/javascript"></script>
    <script src="/javascripts/app/resources/manage/clientResource.js" type="text/javascript"></script>
    <script src="/javascripts/app/resources/manage/orderResource.js" type="text/javascript"></script>
    <script src="/javascripts/app/resources/manage/calculationResource.js" type="text/javascript"></script>


    <!-- Directives -->
    <script src="/javascripts/app/directives/billItemDirective.js" type="text/javascript"></script>
    <script src="/javascripts/app/directives/billItemViewDirective.js" type="text/javascript"></script>
    
    <script type="text/javascript">
       var token = "<%= token %>";
    </script>


    <div flex style="height: 100%">
	    <div layout="row" flex>
	    <md-toolbar flex>
                <div class="md-toolbar-tools" >
                  <h2>Panel de control MEVA </h2>
                </div>
        </md-toolbar>
        </div>
        <div layout="row" flex style="height: 90%">
	    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-xs')"
        md-whiteframe="4" flex='15'>

      
      <md-content layout-padding class='side-menu'>
        <md-button ng-click="close()" class="md-primary" hide-gt-xs>
          Close Sidenav Left
        </md-button>
        <div hide show-gt-xs ng-controller="HomeController as ctr">
          
          <!-- ****************MODELOS**************** -->
            <md-button class="md-primary" md-no-ink class="md-button-toggle" ng-click="showModel=!showModel" 
                flex layout="row" aria-expanded="{{isOpen()}}">
               Gesti&oacute;n
            <span aria-hidden="true" class="pull-right fa fa-chevron-down md-toggle-icon" >
             
            </span>
            </md-button>
            <ul ng-show="showModel" class="menu-toggle-list">
                <li >
                    <md-button ng-click="ctr.clientShow()" class="md-primary md-small menu" >
                    Clientes
                </md-button>
                <li>

                <li>
                    <md-button ng-click="ctr.brandShow()" class="md-primary md-small menu" >
                        Productos Categorias
                    </md-button>
                <li>

                
                <li>
                    <md-button ng-click="ctr.productShow()" class="md-primary md-small menu" >
                        Producto
                    </md-button>
                <li>

                </li>
                <md-button  ng-click="ctr.stockShow()" class="md-primary md-small menu" >
                    Stock
                </md-button>
                </li>
                </li>
                <md-button  ng-click="ctr.stockUpdateShow()" class="md-primary md-small menu" >
                    Stock Actualizaci&oacute;n
                </md-button>
                </li>

            </ul>

          <!-- ****************MAPEOS**************** -->
            <md-button class="md-primary" md-no-ink class="md-button-toggle" ng-click="showMapeos=!showMapeos" 
            flex layout="row" aria-expanded="{{isOpen()}}">
           Pedidos
            <span aria-hidden="true" class="pull-right fa fa-chevron-down md-toggle-icon" >
             
            </span>
            </md-button>
            <ul ng-show="showMapeos" class="menu-toggle-list">
                <li >
                    <md-button ng-click="ctr.newOrderShow()" class="md-primary md-small menu" >
                  Alta de Pedido
                </md-button>
                <li>

                <li >
                    <md-button ng-click="ctr.queryOrderShow()" class="md-primary md-small menu" >
                        Consulta de Pedidos
                    </md-button>
                <li>
            </ul>

            <!--***************REGLAS***************-->
            <md-button class="md-primary" md-no-ink class="md-button-toggle" ng-click="showCalc=!showCalc"
                       flex layout="row" aria-expanded="{{isOpen()}}">
                Sistema de Calculo
                <span aria-hidden="true" class="pull-right fa fa-chevron-down md-toggle-icon" >
             
            </span>

            </md-button>
            <ul ng-show="showCalc" class="menu-toggle-list">
                <li >
                    <md-button ng-click="ctr.graphPoints()" class="md-primary md-small menu" >
                        Puntos actuales clientes
                    </md-button>
                <li>
                <li >
                    <md-button ng-click="ctr.graphPointsEvaluate()" class="md-primary md-small menu" >
                        Evaluar puntos
                    </md-button>
                <li>

            </ul>

            <!--***************REGLAS***************-->
            <md-button class="md-primary" md-no-ink class="md-button-toggle" ng-click="showInfo=!showInfo"
                       flex layout="row" aria-expanded="{{isOpen()}}">
                Reportes
                <span aria-hidden="true" class="pull-right fa fa-chevron-down md-toggle-icon" >

            </span>

            </md-button>
            <ul ng-show="showInfo" class="menu-toggle-list">
                <li >
                    <md-button ng-click="ctr.pointList()" class="md-primary md-small menu" >
                        Listado de puntos
                    </md-button>
                <li>
                <li >
                    <md-button ng-click="ctr.productsSell()" class="md-primary md-small menu" >
                        Venta de productos
                    </md-button>
                <li>

                <li >
                    <md-button ng-click="ctr.clientOrderChild()" class="md-primary md-small menu" >
                        Listado Ordenes de Hijos
                    </md-button>
                <li>
                <li >
                    <md-button ng-click="ctr.clientData()" class="md-primary md-small menu" >
                        Infomraci&oacute;n Clientes
                    </md-button>
                <li>


            </ul>


        </div>
      </md-content>

    </md-sidenav>
	    <div  flex layout-xs="column" style="height: 90%;overflow: auto;">
			  <div flex layout-align="center center" style="height: 100%">
	    
	    		<ui-view></ui-view>    
	    	</div>   	  
	    </div>
    </div>
    </div>
 
</body>
</html>
