<!DOCTYPE html>
<html>
<head>

<title>Meva</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="javascripts/angular-material/angular-material.css">
</head>
    <body ng-app="demoApp">
    
    <script type="text/javascript">
       var token = undefined;
    </script>
 
    <script src="javascripts/angular/angular.js"></script> 
    
    <script src="javascripts/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="javascripts/angular-resource/angular-resource.js"></script>
    <script src="javascripts/angular-ui-router/angular-ui-router.js"></script> 
    <script src="javascripts/angular-aria/angular-aria.js"></script> 
    <script src="javascripts/angular-animate/angular-animate.js"></script> 
    <script src="javascripts/angular-material/angular-material.js"></script> 
    <script src="/javascripts/app/app.js" type="text/javascript"></script>    
    <script src="/javascripts/app/routes.js" type="text/javascript"></script>        
    <script src="/javascripts/app/conf.js" type="text/javascript"></script>        
    <script src="/javascripts/app/Controllers/loginController.js" type="text/javascript"></script>
    <script src="javascripts/angular-messages/angular-messages.js"></script>
    <script src="javascripts/html2canvas.js"></script>
    <script src="javascripts/jspdf.min.js"></script>
    <script src="javascripts/saveHtmlToPdf.min.js"></script>

    <div ng-controller="LoginController" flex style="height: 100%">
    <div layout="row" layout-xs="column" layout-align="center center" style="height: 100%"> 
	  <div flex layout-align="center center">
    
    <ui-view></ui-view>    
    <h4><%= message %></h4>  
    </div>   	  
    </div>
    </div>

 
</body>
</html>