<div layout='row' flex layout-align='center center' ng-controller='StockUpdateController as ctr'>

    <div flex='90' layout-align='center center' class="md-list">
        <div flex>
            <md-toolbar flex>
                <div class="md-toolbar-tools">
                    <h2 flex md-truncate>Actualizaci&oacute;n de Stock</h2>

                </div>
            </md-toolbar>
            <div flex>
                <md-progress-linear class="md-warn" ng-show='ctr.loading' md-mode="indeterminate"></md-progress-linear>
            </div>
            <div class="subheader" layout="row" flex>
                <div layout="column" flex="50">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Marca</label>
                        <md-select ng-change="ctr.brandChange(brand)" ng-model="brand" name="brand" required>
                            <md-option ng-value="type._id"
                                       ng-repeat="type in brandList">{{type.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="column">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Cantidad %</label>
                        <input type="number" ng-model="increase">
                    </md-input-container>
                </div>
                <div layout="column">
                    <md-input-container class="md-block" flex-gt-xs>
                        <button type="number" ng-model="increase"
                                ng-click="ctr.updatePrice()"> Actualizar monto
                        </button>
                    </md-input-container>
                </div>
            </div>

            <!-- Listado -->
            <md-list class="md-dense" flex>

                <md-list-item flex class="list-item" ng-repeat="item in models| filter:searchTextModel">

                    <div flex="5" class="md-list-item-text" layout="column">
                        <p><input type="checkbox" ng-model="item.selected"></p>
                    </div>
                    <div flex="20" class="md-list-item-text" layout="column">
                        <p><strong> {{ item.product.name }}</strong></p>
                    </div>
                    <div flex="20" class="md-list-item-text" layout="column">
                        <p><strong> {{ item.product.brand.name }}</strong></p>
                    </div>
                    <div flex class="md-list-item-text" layout="column">
                        <p> Precio Compra {{ item.price}} </p>
                        <p ng-show="item.selected"> Precio Compra Actualizado {{ item.price * (1+increase/100) | number:2 }} </p>
                    </div>
                    <div flex class="md-list-item-text" layout="column">
                        <p> Precio Venta {{ item.sellPrice }} </p>
                        <p ng-show="item.selected"> Precio Venta Actualizado {{ item.sellPrice * (1+increase/100) | number:2}} </p>
                    </div>


                </md-list-item>

                <div layout="column" layout-align="center center" ng-show="models.length==0 && !ctr.loading">
                    No se encuentran registros
                </div>

            </md-list>


        </div>


    </div>


</div>