@font-face {
font-family: 'Open_Sans';
src: url('./Open_Sans/OpenSans-Bold.ttf')  format('truetype') /* Safari, Android, iOS */
font-weight: bold;
}
@font-face {
font-family: 'Open_Sans';
src: url('./Open_Sans/OpenSans-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

body {
  font: 14px "Open_Sans", Helvetica, Arial, sans-serif;
  color:rgb(153,0,0);
}

a {
  color: #00B7FF;
}

.side-menu button {
	margin:0px;
}

.side-menu ul {
	margin:0px;
	padding-left: 5px; 
}

.side-menu li {
	margin:0px;
}

.md-button.md-small {
  width: 20px;
  height: 20px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 0;
}

.md-button.md-small.menu{
  width: 90%;
  text-align: left;
  padding-left: 10px;	
}

.md-button.tool-bar{
	background-color: rgb(255,184,77);
	color: #ffffff;	
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.md-button.tool-bar:hover{
	background-color: rgb(255,153,0);	
}

.md-list {
  margin-top: 25px;  
}

.list-item{
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
   margin:10px;
}

.subheader {
  margin-top: 10px;
}
.search input {
  border-color: rgb(153,0,0);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.search input:focus {
  border-color: rgb(153,0,0);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 0 2pt 1pt rgb(153,0,0);
    outline: none;
}

.list-item p strong {
  font-size: 16px;
}

.icon-search {

fill:rgb(153,0,0); height: 15px; width: 15px;margin-right: 11px

}

.md-button.md-fab.md-mini {
      line-height: 4rem;
      width: 35px;
      height: 35px;
}

