<div ng-controller="PointInformationController as ctr" style="width: 100%;height: 100%">


    <div layout-gt-xs="row" flex>
        <div layout-gt-xs="column" flex="80">
            <md-input-container class="md-block" flex-gt-xs>

                <label>Cliente</label>
                <input ng-model="searchText" type="search" />
            </md-input-container>
        </div>

        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>

                <button pdf-save-button="idOneGraph" pdf-name="listado_clientes_puntos.pdf" class="btn">PDF</button>

            </md-input-container>
        </div>

    </div>

    <div flex layout-gt-xs="column" flex="80" pdf-save-content="idOneGraph">
            <div layout="row" flex class="list-item" ng-repeat="item in list| filter:searchText">
                    <div flex class="md-list-item-text" layout="column">
                        <p>Nombre:<strong> {{ item.name }}</strong></p>
                    </div>
                    <div flex class="md-list-item-text" layout="column">
                        <p>Apellido:<strong> {{ item.lastName}}</strong></p>
                    </div>
                    <div flex class="md-list-item-text" layout="column">
                        <p>Puntos:<strong> {{ item.calculatedPoints}}</strong></p>
                    </div>
                </div>
            </div>


    </div>


    <div flex layout-gt-xs="row">
        <div id="chart"></div>
    </div>

</div>