<div ng-controller="GraphPointController as ctr" style="width: 100%;height: 100%">


    <div layout-gt-xs="row" flex>
        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>

                <label>Cliente</label>
                <md-autocomplete
                        md-selected-item="client"
                        md-search-text="searchClient"
                        md-items="item in ctr.clientSearch(searchClient)"
                        md-item-text="item.name+' '+item.lastName"
                        md-min-length="0"
                        md-selected-item-change="ctr.clientChange(client)"
                >
                    <md-item-template>
                        <span md-highlight-text="searchClient" md-highlight-flags="^i">{{item.name}} {{item.lastName}}</span>
                    </md-item-template>
                    <md-not-found>
                        No states matching "{{searchClient}}" were found.
                    </md-not-found>
                </md-autocomplete>
                <div ng-messages="form.phone.$error">
                    <div ng-message="required">Este campo es requerido.</div>
                </div>
            </md-input-container>
        </div>
    </div>

    <div style="position: relative;width: 100%;height: 90%">
        <div id="cy">

        </div>
    </div>


</div>