<div layout-gt-xs="column" flex>
    <div layout-gt-xs="row" flex >

        <div layout-gt-xs="column" flex="40">
            <md-input-container class="md-block" flex-gt-xs>
                <input ng-value='item.productName' readonly>
            </md-input-container>

        </div>
        <div layout-gt-xs="column" flex="15">
            <md-input-container class="md-block" flex-gt-xs>
                <input ng-value='item.sellPrice.toFixed(2)' readonly>
            </md-input-container>
        </div>
        <div layout-gt-xs="column" flex="15">
            <md-input-container class="md-block" flex-gt-xs>
                <input ng-value='item.cant' readonly>
            </md-input-container>

        </div>
        <div layout-gt-xs="column" flex="15">
            <md-input-container class="md-block" flex-gt-xs>
                <input ng-value='(item.cant*item.sellPrice).toFixed(2)' readonly>
            </md-input-container>

        </div>

        <div layout-gt-xs="column" flex="15">
            <md-input-container class="md-block" flex-gt-xs>

                <input value="{{(item.points*item.cant).toFixed(2)}}" readonly>
            </md-input-container>

        </div>

    </div>



</div>
