<div layout-gt-xs="column" flex>
    <div layout-gt-xs="row" flex style="height: 60px">

        <md-button ng-show="!ctr.isEdit" layout-align="center end" ng-hide="noEdit"
                   class="md-fab md-mini" aria-label="Comment" ng-click="ctr.toEdit()">
            <md-icon md-svg-src="images/icons/edit.svg"></md-icon>
        </md-button>

        <div layout-gt-xs="column" flex="30">
            <md-input-container class="md-block" flex-gt-xs>

                <label>Producto</label>
                <input ng-model='item.productName' disabled="">
            </md-input-container>

        </div>
        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>

                <label>Precio</label>
                <input ng-model='item.sellPrice' disabled="">
            </md-input-container>
        </div>
        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>

                <label>Cantidad</label>
                <input ng-model='item.cant' disabled="">
            </md-input-container>

        </div>
        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>

                <label>Precio Total</label>
                <input ng-model='item.cant*item.sellPrice' disabled="">
            </md-input-container>

        </div>

        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>

                <label>Puntos</label>
                <input value="{{item.points*item.cant}}" disabled="">
            </md-input-container>

        </div>

        <md-button ng-show="!ctr.isEdit" layout-align="center end" ng-hide="noEdit"
                   class="md-fab md-mini" aria-label="Comment" ng-click="ctr.toDelete()">
            <md-icon md-svg-src="images/icons/delete.svg"></md-icon>
        </md-button>
    </div>

    <form name="form_model" novalidate ng-submit="form_model.$valid &&  ctr.save()" ng-show="ctr.isEdit">

        <div layout-gt-xs="row" flex>
            <div layout-gt-xs="column" flex>
                <md-input-container class="md-block" flex-gt-xs>

                    <label>Producto</label>
                    <md-autocomplete
                            md-selected-item="ctr.product"
                            md-search-text="productSearch"
                            md-items="item in ctr.searchProduct(productSearch)"
                            md-item-text="item.product.name+' '+item.product.brand.name+' '+item.product.code"
                            md-selected-item-change='ctr.productChanged()'
                            md-min-length="0"
                            md-no-cache
                    >
                        <md-item-template>
                            <span md-highlight-text="productSearch" md-highlight-flags="^i">{{item.product.name}} {{item.product.brand.name}} {{item.product.code}} </span>
                        </md-item-template>
                        <md-not-found>
                            No states matching "{{productSearch}}" were found.
                        </md-not-found>
                    </md-autocomplete>
                    </md-autocomplete>
                </md-input-container>

            </div>
        </div>

        <div layout-gt-xs="row" flex>


            <div layout-gt-xs="column" flex>
                <md-input-container class="md-block" flex-gt-xs>

                    <label>Cantidad Stock</label>
                    <input ng-model='ctr.productsLeft' disabled="">
                </md-input-container>

            </div>
            <div layout-gt-xs="column" flex>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Cantidad</label>
                    <input type="number" ng-model="item.cant" max="ctr.productsLeft">
                </md-input-container>
            </div>

        </div>


        <div layout-gt-xs="row" flex>
            <div layout-gt-xs="row" flex>

                <md-button ng-show="!ctr.list" layout-align="center end"
                           class="md-fab md-mini" aria-label="Comment" type="submit" ng-click="ctr.test(form_model)">
                    <md-icon md-svg-src="images/icons/ok-like-hand-sign.svg"></md-icon>
                </md-button>
                <md-button ng-show="!ctr.list" layout-align="center end"
                           class="md-fab md-mini" aria-label="Comment" ng-click="ctr.toDelete()">
                    <md-icon md-svg-src="images/icons/delete.svg"></md-icon>
                </md-button>
            </div>

        </div>
    </form>

</div>
