<md-button class="md-primary md-raised md-hue-2 md-small"  ng-click="headHide=!headHide">
    {{ (headHide)?'Editar':'Ocultar' }} </md-button>


<div ng-show="headHide" flex>
    <div layout-gt-xs="row" flex>
        <div flex>
            <p class="md-body-2">Nro: {{selected.number}}</p>
        </div>
        <div flex>
            <p class="md-body-2">Fecha {{selected.date | date:'yyyy/MM/dd'}}</p>
        </div>
        <div flex>
            <p class="md-body-2">Cliente {{selected.client.name+' '+selected.client.lastName}}</p>
        </div>
    </div>
</div>
<div ng-hide="headHide">
    <div layout-gt-xs="row" flex>

        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Nro</label>
                <input ng-model="selected.number" readonly=""></input>
            </md-input-container>
        </div>

        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Fecha</label>
                <md-datepicker ng-model="selected.date"></md-datepicker>
            </md-input-container>
        </div>
    </div>


    <div layout-gt-xs="row" flex>
        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>

                <label>Cliente</label>
                <md-autocomplete
                        md-no-cache="true"
                        md-selected-item="selected.client"
                        md-search-text="searchClient"
                        md-items="item in ctr.clientSearch(searchClient)"
                        md-item-text="item.name+' '+item.lastName"
                        md-min-length="0"
                >
                    <md-item-template>
                        <span md-highlight-text="searchClient"
                              md-highlight-flags="^i">{{item.name}} {{item.lastName}} {{item.dni}} {{item.line}}{{item.codeNumber}}</span>
                    </md-item-template>
                    <md-not-found>
                        No states matching "{{searchClient}}" were found.
                    </md-not-found>
                </md-autocomplete>
                <div ng-messages="form.phone.$error">
                    <div ng-message="required">Este campo es requerido.</div>
                </div>
            </md-input-container>
        </div>
    </div>

</div>