<div layout='row' flex layout-align='center center' ng-controller='NewOrderController as ctr'>

    <div flex='80' layout-align='center center' class="md-list">
        <md-toolbar flex>
            <div class="md-toolbar-tools">
                <h2 flex md-truncate>Alta de Orden</h2>

            </div>
        </md-toolbar>

        <!-- Edicion -->
        <div flex>

            <md-content layout-padding>
                <div>
                    <form name="form_model" novalidate ng-submit="form_model.$valid &&  ctr.save()">


                        <div style="border-radius: 1px;
                                    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);padding: 4px;padding-left: 15;padding-right: 15">
                            <ng-include src="'/partials/order/new/header.html'"></ng-include>
                        </div>

                        <div style="border-radius: 1px;margin-top: 5px;
                                    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);padding: 4px;padding-left: 15;padding-right: 15">
                            <ng-include src="'/partials/order/new/items.html'"></ng-include>
                        </div>

                        <div layout-gt-xs="row" flex>

                            <div layout-gt-xs="column" flex="50">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Total:</label>
                                    <input ng-model="'$'+ctr.total" readonly="">
                                </md-input-container>
                            </div>


                        </div>


                        <div layout-gt-xs="row" flex>

                            <div layout-gt-xs="column" flex="50">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Descuento Disponible:</label>
                                    <input ng-model="selected.client.calculatedPoints">
                                </md-input-container>
                            </div>


                        </div>

                        <div layout-gt-xs="row" flex>

                            <div layout-gt-xs="column" flex="50">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Costo Administrativo:</label>
                                    <input  ng-value="'$'+ctr.totalAdministrative" readonly>
                                </md-input-container>
                            </div>


                        </div>



                        <div layout-gt-xs="row" flex>

                            <div layout-gt-xs="column" flex="50">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Total con  descuento:</label>{{ctr.total}}
                                    <input ng-model="'$' + (ctr.total - selected.client.calculatedPoints + ctr.totalAdministrative).toFixed(2)" readonly="">
                                </md-input-container>
                            </div>


                        </div>

                        <div layout-gt-xs="row" flex>
                            <md-button ng-show="!ctr.list" layout-align="center end"
                                       class="md-fab md-mini"
                                       aria-label="Comment" type="submit" ng-click="ctr.test(form_model)">
                                <md-icon
                                        md-svg-src="images/icons/ok-like-hand-sign.svg"></md-icon>
                            </md-button>
                            <md-button ng-show="!ctr.list" layout-align="center end"
                                       class="md-fab md-mini" aria-label="Comment" ng-click="ctr.cancelNewOrEdit()">
                                <md-icon md-svg-src="images/icons/previous.svg"></md-icon>
                            </md-button>
                        </div>
                    </form>
                </div>
            </md-content>

        </div>


        <!-- Detalle -->


    </div>


</div>