<div layout-gt-xs="row" flex>
    <div layout-gt-xs="column" flex>

        <label>Listado de compra</label>

        <div ng-repeat='item in selected.products track by $index'>

            <bill-item item='item' idx='$index' selected-products="selected.products" flex/>

        </div>

        <div layout-gt-xs="row" flex layout-align="center center" ng-hide="ctr.elementEdit">
            <md-button ng-show="!ctr.list"
                       class="md-fab md-mini"
                       aria-label="Comment" ng-click="ctr.addItem()">
                <md-icon
                        md-svg-src="images/icons/new.svg"></md-icon>
            </md-button>
        </div>

    </div>
</div>


