<div layout='row' flex layout-align='center center' ng-controller='OrderController as ctr'>

    <div flex='80' layout-align='center center' class="md-list">
        <div flex ng-show="ctr.list">
            <md-toolbar flex>
                <div class="md-toolbar-tools">
                    <h2 flex md-truncate>Ordenes de Clientes</h2>
                </div>
            </md-toolbar>
            <div flex>
                <md-progress-linear class="md-warn" ng-show='ctr.loading' md-mode="indeterminate"></md-progress-linear>
            </div>
            <div class="subheader search">
                <div layout-gt-xs="row" flex>
                    <div layout-gt-xs="column" flex>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Desde</label>
                            <md-datepicker ng-model="dateFrom"
                                           ng-change="ctr.loadData(1, pageSize, client,dateFrom, dateTo, name, lastname)"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="column" flex>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Hasta</label>
                            <md-datepicker md-min-date="dateFrom" ng-model="dateTo"
                                           ng-change="ctr.loadData(1, pageSize, client,dateFrom, dateTo, name, lastname)"></md-datepicker>
                        </md-input-container>
                    </div>
                </div>

                <div layout-gt-xs="row" flex>
                    <div layout-gt-xs="column" flex>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Nombre</label>
                            <input ng-model="name"
                                   ng-change="ctr.loadData(1, pageSize, client,dateFrom, dateTo, name, lastname)">

                        </md-input-container>
                    </div>
                    <div layout-gt-xs="column" flex>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Apelido</label>
                            <input ng-model="lastname"
                                   ng-change="ctr.loadData(1, pageSize, client,dateFrom, dateTo, name, lastname)">
                        </md-input-container>
                    </div>
                </div>


            </div>

            <div layout="row" flex="95" layout-align="center center">

                <div layout="col" flex>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Pagina</label>
                        <div layout-gt-xs="column" flex="30">
                            <md-select ng-model="pageSize"
                                       ng-change="ctr.loadData(1, pageSize, client,dateFrom, dateTo, name, lastname)">
                                <md-option ng-value="t" ng-repeat="t in [5,10,25,50,100]"> {{t}}</md-option>
                            </md-select>
                        </div>
                    </md-input-container>
                </div>

                <div layout="col" layout-align="end center" ng-repeat="pageIterator in pagesDisp">

                    <md-button class="md-raised" ng-class="{'md-primary':(pageIterator)==currentPage}"
                               style="min-width: 1px;min-height: 1px;margin: 2px;"
                               ng-click="ctr.loadData(pageIterator, pageSize, client,dateFrom, dateTo, name, lastname)">
                        {{pageIterator}}
                    </md-button>


                </div>

            </div>


            <!-- Listado -->
            <md-list class="md-dense" flex>

                <md-list-item class="list-item" ng-repeat="item in ctr.orders| filter:searchTextModel"
                              ng-click="ctr.show(item)">

                    <div flex class="md-list-item-text" layout="column">
                        <p> Numero:<strong> {{ item.number }}</strong></p>
                    </div>

                    <div flex class="md-list-item-text" layout="column">
                        <p> Fecha:<strong> {{ item.date | date:'dd/MM/yyyy'}}</strong></p>
                    </div>
                    <div flex class="md-list-item-text" layout="column">
                        <p>Nombre:<strong> {{ item.client.lastName +','+item.client.name }}</strong></p>
                    </div>

                    <div flex class="md-list-item-text" layout="column">
                        <p>Monto:<strong> {{ item.totalToPaid}}</strong></p>
                    </div>
                </md-list-item>

                <div layout="column" layout-align="center center" ng-show="ctr.orders.length==0">
                    No se encuentran registros
                </div>

            </md-list>


        </div>
        <div flex ng-hide="ctr.list" pdf-save-content="order">


            <div flex>
                <div layout-gt-xs="row" flex>
                    <div flex>
                        <p class="md-body-2">Nro: {{selected.number}}</p>
                    </div>
                    <div flex>
                        <p class="md-body-2">Fecha {{selected.date | date:'yyyy/MM/dd'}}</p>
                    </div>
                </div>
                <div layout-gt-xs="row" flex>

                    <div flex>
                        <p class="md-body-2">Cliente {{selected.client.name+' '+selected.client.lastName}}</p>
                    </div>
                </div>
                <div layout-gt-xs="row" flex style="font-size: 9px">

                    <div flex>
                        <p class="md-body-2">Direcci&oacute;n {{selected.client.street+' '+selected.client.number + '('+selected.client.zip+')'}}</p>
                    </div>

                    <div flex>
                        <p class="md-body-2">Provincia: {{selected.client.province}}</p>
                    </div>
                    <div flex>
                        <p class="md-body-2">Ciudad: {{selected.client.province}}</p>
                    </div>

                    <div flex ng-show="selected.client.comuna">
                        <p class="md-body-2">Comuna {{selected.client.comuna}}</p>
                    </div>
                </div>

            </div>


        <ng-include src="'/partials/order/query/items.html'"></ng-include>


        <div layout-gt-xs="row" flex>

            <div layout-gt-xs="column" flex="50">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Total:</label>
                    <input ng-model="selected.total" readonly="">
                </md-input-container>
            </div>


        </div>


        <div layout-gt-xs="row" flex>

            <div layout-gt-xs="column" flex="50">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Descuento :</label>
                    <input ng-model="'$' + selected.totalPoints">
                </md-input-container>
            </div>


        </div>


        <div layout-gt-xs="row" flex>

            <div layout-gt-xs="column" flex="50">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Costo Administrativo:</label>
                    <input ng-value="'$'+selected.totalAdministrative" readonly>
                </md-input-container>
            </div>


        </div>

        <div layout-gt-xs="row" flex>

            <div layout-gt-xs="column" flex="50">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Total con descuento:</label>
                    <input ng-model="'$' + selected.totalToPaid" readonly="">
                </md-input-container>
            </div>


        </div>


    </div>
    <md-button ng-show="!ctr.list" layout-align="center end"
               class="md-fab md-mini" aria-label="Comment"
               ng-click="ctr.list=true">
        <md-icon md-svg-src="images/icons/ok-like-hand-sign.svg"></md-icon>
    </md-button>

    <md-button ng-show="!ctr.list" layout-align="center end"
               class="md-fab md-mini" aria-label="Comment"
               ng-click="ctr.saveToPDF(selected)"
               >
        <md-icon md-svg-src="images/icons/pdf.svg"></md-icon>
    </md-button>
</div>
</div>