<div layout-gt-xs="row" flex>
    <div layout-gt-xs="column" flex>

        <label>Listado de compra</label>

        <div layout="row" flex>
            <div layout-gt-xs="column" flex="40">
                Nombre Producto

            </div>
            <div layout-gt-xs="column" flex="15">
                Precio
            </div>
            <div layout-gt-xs="column" flex="15">
                Cantidad
            </div>
            <div layout-gt-xs="column" flex="15">
                Precio Total
            </div>

            <div layout-gt-xs="column" flex="15">
                Puntos Ganados
            </div>
        </div>
        <div ng-repeat='item in selected.products track by $index'>

            <bill-item-view no-edit="true" item='item' idx='$index' selected-products="selected.products" flex/>

        </div>


    </div>
</div>


