<div layout='row' flex layout-align='center center'  ng-controller='StockController as ctr' >

	<div flex='80' layout-align='center center' class="md-list">
		 <div flex ng-show="ctr.list">
		 <md-toolbar flex>
                <div class="md-toolbar-tools" >
                  <h2 flex md-truncate>Stock</h2>
                    <div>
							<md-button ng-show="ctr.list" layout-align="center end"
			                    class="md-primary tool-bar md-fab"  aria-label="Comment" ng-click="ctr.newOrEdit()">
					           	<md-icon md-svg-src="/images/icons/new.svg"
					           	style=" height: 40px; width: 40px"
					           	 aria-label="edit"></md-icon>
					        </md-button>
							
                    </div>
                </div>
        </md-toolbar>
         <div flex>
        	<md-progress-linear class="md-warn" ng-show='ctr.loading' md-mode="indeterminate"></md-progress-linear>
		</div>

			 <ng-include src="'./partials/generic/filter.html'" ></ng-include>


			 <!-- Listado -->
		<md-list class="md-dense" flex>

			<md-list-item class="list-item" ng-repeat="item in models| filter:searchTextModel" ng-click="ctr.newOrEdit(item)">
			          	
			          	<div flex class="md-list-item-text" layout="column">
			            <p><strong> {{ item.product.name }}</strong> </p>
			            </div>
			            <div flex class="md-list-item-text" layout="column">
			            <p> Cantidad {{ item.cantProducts }} </p>
			            </div>
			            <div flex class="md-list-item-text" layout="row" layout-align="end end">
			            	<md-button class="md-fab md-mini md-primary md-hue-1" ng-click="ctr.delete(item)">
			            			<md-icon  md-svg-src="/images/icons/delete.svg" aria-label="edit"></md-icon>
			            	</md-button>
			            </div>

			</md-list-item>

			<div layout="column" layout-align="center center" ng-show="models.length==0 && !ctr.loading">
				No se encuentran registros
			</div>

		</md-list>


		</div>
        <!-- Edicion -->
		<div flex ng-show="!ctr.list && !ctr.detail">
			<md-toolbar flex>
                <div class="md-toolbar-tools" >
                  <h2 flex md-truncate>Stock {{selected.product.name}}</h2>
                </div>
        	</md-toolbar>
        	
			<md-content layout-padding>
			    <div>
			      <form name="form_model" novalidate ng-submit="form_model.$valid &&  ctr.save()">
			        <div layout-gt-xs="row" flex>
			         
				       
				       <div layout-gt-xs="column" flex >
					         <md-input-container class="md-block" flex-gt-xs>
					            <label>Producto</label>
					       		<md-select ng-hide='selected._id!=undefined' ng-model="selected.product._id" name="product" required>
									<md-option ng-selected="selected.product._id==type._id" ng-value="type._id" ng-repeat="type in productList">{{type.name}}</md-option> 
					            </md-select>
					             <p ng-show='selected._id!=undefined' 
					              disabled="">
					             {{selected.product.name}}
					             </p>
				           
					            <div ng-messages="form.product.$error">
		                           <div ng-message="required">Este campo es requerido.</div>
	                        	</div>
                        	</md-input-container>
				       </div>


				       <div layout-gt-xs="column" flex>
				         <md-input-container class="md-block" flex-gt-xs>
				            <label>Cantidad</label>
				            <input ng-model="selected.cantProducts" name="cantProducts"  type='number' required="">
				            <div ng-messages="form.cantProducts.$error">
		                           <div ng-message="required">Este campo es requerido.</div>
	                        </div>
				          </md-input-container>  
				       </div>


			        </div>

			        <div layout-gt-xs="row" flex>
			          <div layout-gt-xs="column" flex>
				         <md-input-container class="md-block" flex-gt-xs>
				            <label>Precio</label>
				            <input ng-model="selected.price" name="price" required="">
				            <div ng-messages="form.price.$error">
		                           <div ng-message="required">Este campo es requerido.</div>
	                        	</div>
				          </md-input-container>  
				       </div>
				       <div layout-gt-xs="column" flex>
				         <md-input-container class="md-block" flex-gt-xs>
				            <label>Precio Venta</label>
				            <input ng-model="selected.sellPrice" name="sellPrice" required="">
				            <div ng-messages="form.sellPrice.$error">
		                           <div ng-message="required">Este campo es requerido.</div>
	                        	</div>
				          </md-input-container>  
				       </div>

			        </div>


			        <div layout-gt-xs="row" flex>
			          <div layout-gt-xs="column" flex>
				         <md-input-container class="md-block" flex-gt-xs flex='50'>
				            <label>Puntos</label>
				            <input ng-model="selected.points" name="points" required="">
				            <div ng-messages="form.sellPrice.$error">
		                           <div ng-message="points">Este campo es requerido.</div>
	                        	</div>
				          </md-input-container>  
				       </div>
				       
			        </div>



			     
			        <md-button ng-show="!ctr.list" layout-align="center end"
	                    		class="md-fab md-mini"  aria-label="Comment" type="submit" ng-click="ctr.test(form_model)">
			            		<md-icon md-svg-src="images/icons/
		ok-like-hand-sign.svg"> </md-icon>
			        		</md-button>
			        		<md-button ng-show="!ctr.list" layout-align="center end"
	                    		class="md-fab md-mini"  aria-label="Comment" ng-click="ctr.cancelNewOrEdit()">
			            		<md-icon md-svg-src="images/icons/previous.svg"> </md-icon>
			        		</md-button>
			      </form>
			    </div>
			  </md-content>

		</div>


        <!-- Detalle -->


		
	</div>


</div>