<div ng-controller="GraphPointAtController as ctr" style="width: 100%;height: 100%">


    <div layout-gt-xs="row" flex>
       <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>

                <label>Fecha Desde</label>
                <md-datepicker  md-current-view="year" ng-model="dateFrom" md-mode="month"
                               ng-change="ctr.clientChange(dateFrom)"></md-datepicker>
            </md-input-container>
        </div>
        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>
                <md-button ng-click="ctr.saveCalculationPoints(dateFrom)"
                           ng-show="dateFrom">Guardar
                </md-button>
            </md-input-container>
        </div>
    </div>

    <div style="position: relative;width: 100%;height: 90%">
        <div id="cy">

        </div>
    </div>


</div>