<div ng-controller="ProductSellInfomrationController as ctr" style="width: 100%;height: 100%">

    <div layout-gt-xs="row" flex>

        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Desde</label>
                <md-datepicker ng-model="dateFrom" ng-change="ctr.calculation(dateFrom, dateTo)"></md-datepicker>
            </md-input-container>
        </div>

        <div layout-gt-xs="column" flex>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Hasta</label>
                <md-datepicker md-min-date="dateFrom" ng-model="dateTo"
                               ng-change="ctr.calculation(dateFrom, dateTo)"></md-datepicker>
            </md-input-container>
        </div>

        <div layout-gt-xs="column" flex="25">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Top mas vendidos</label>
                <input ng-model="top" type="number" ng-change="ctr.top(top)">
            </md-input-container>
        </div>

    </div>

    <div layout-gt-xs="row" flex>

        <div layout-gt-xs="column" flex="25">

            <md-input-container class="md-block" flex-gt-xs>

                <label>Marca</label>
                <md-autocomplete
                        md-selected-item="ctr.brand"
                        md-search-text="brandSearch"
                        md-selected-item-change='ctr.brandChanged()'
                        md-items="item in ctr.searchBrand(brandSearch)"
                        md-item-text="item.name"
                        md-min-length="0"
                >
                    <md-item-template>
                        <span md-highlight-text="brandSearch" md-highlight-flags="^i">{{item.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No states matching "{{brandSearch}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </md-input-container>
        </div>

    </div>

    <div flex layout-gt-xs="row">
        <div id="chart"></div>
    </div>

    <div flex layout-gt-xs="row">
        <md-list class="md-dense" flex>

            <md-list-item class="list-item" ng-repeat="item in list">

                <div flex class="md-list-item-text" layout="column">
                    <p>Nombre:<strong> {{ item.name }}</strong>&nbsp;Brand:<strong>{{item.brandName}}</strong></p>
                </div>
                <div flex class="md-list-item-text" layout="column">
                    <p>$:<strong> {{ item.price}}</strong></p>
                </div>
                <div flex class="md-list-item-text" layout="column">
                    <p>Cantidad:<strong> {{ item.cant}}</strong></p>
                </div>


            </md-list-item>
        </md-list>

    </div>


</div>